name: Build JIBU APK (Docker Buildozer)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build APK using Buildozer Docker
        run: |
          docker run -i --rm \
            -u root \
            -e BUILDOZER_ALLOW_ROOT=1 \
            -e BUILDOZER_FORCE_ACCEPT=1 \
            -v "${{ github.workspace }}":/app \
            -w /app \
            kivy/buildozer:latest \
            /bin/bash -lc "yes y | buildozer -v android debug --accept"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: JIBU-APK
          path: bin/*.apk
