- name: Install Android SDK
      run: |
        mkdir -p $HOME/android/sdk
        cd $HOME/android/sdk
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O cmdtools.zip
        unzip cmdtools.zip -d cmdline-tools
        yes | cmdline-tools/cmdline-tools/bin/sdkmanager --sdk_root=$HOME/android/sdk \
            "platform-tools" "platforms;android-33" "build-tools;33.0.2"

    - name: Build APK
      env:
        ANDROIDSDK: $HOME/android/sdk
        ANDROIDNDK: $HOME/android/sdk/ndk/25.1.8937393
      run: |
        export PATH=$HOME/android/sdk/platform-tools:$HOME/android/sdk/build-tools/33.0.2:$PATH
        buildozer -v android debug
